<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mmb.tms.dao.mappers.DeliverBalanceTypeMapper" >
  <resultMap id="BaseResultMap" type="mmb.tms.model.DeliverBalanceType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deliver_id" property="deliverId" jdbcType="INTEGER" />
    <result column="balance_type_id" property="balanceTypeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, deliver_id, balance_type_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deliver_balance_type
    where id = #{id,jdbcType=INTEGER}
  </select>
	<select id="getDeliverBalanceTypeByDeliverId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select 
	    <include refid="Base_Column_List" />
	    from deliver_balance_type
	    where deliver_id = #{deliverId,jdbcType=INTEGER}
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deliver_balance_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mmb.tms.model.DeliverBalanceType" >
    insert into deliver_balance_type (id, deliver_id, balance_type_id
      )
    values (#{id,jdbcType=INTEGER}, #{deliverId,jdbcType=INTEGER}, #{balanceTypeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="mmb.tms.model.DeliverBalanceType" >
    insert into deliver_balance_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deliverId != null" >
        deliver_id,
      </if>
      <if test="balanceTypeId != null" >
        balance_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deliverId != null" >
        #{deliverId,jdbcType=INTEGER},
      </if>
      <if test="balanceTypeId != null" >
        #{balanceTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mmb.tms.model.DeliverBalanceType" >
    update deliver_balance_type
    <set >
      <if test="deliverId != null" >
        deliver_id = #{deliverId,jdbcType=INTEGER},
      </if>
      <if test="balanceTypeId != null" >
        balance_type_id = #{balanceTypeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mmb.tms.model.DeliverBalanceType" >
    update deliver_balance_type
    set deliver_id = #{deliverId,jdbcType=INTEGER},
      balance_type_id = #{balanceTypeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>