<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mmb.common.dao.mappers.CommonMapper" >
	<!-- 删-->
	<delete id="deleteCommon" parameterType="java.lang.String" >
		delete from ${table} 
		where ${condition}
	</delete>
	<!-- 改-->
	<update id="updateCommon" parameterType="java.util.HashMap">
		update ${table} set ${set} where ${condition}
	</update>
	<!-- 增-->
	<update id="insertCommon" parameterType="java.util.HashMap">
		insert into ${table} values ${set}
	</update>
	<!-- 查Count-->
	<select id="getCommonCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select 
		count(id) 
		from ${table} 
		where ${condition}
	</select>
	<select id="getCommonInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select 
	    	${column}
	    from 
	    	${table}
	    where 
	    	${condition}
    </select>
    <select id="getPOPCommonInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			dip3.order_code order_code,dip3.pop_order_code pop_order_code, dip3.deliver_code package_code,
		 	dip3.pop_type,dip3.storage_id ,dip3.deliver_type,
		 	IFNULL(TIMESTAMPDIFF(HOUR,(select dip4.time from deliver_info_pop dip4 where dip4.pop_order_code =dip3.pop_order_code and dip4.deliver_state=1 limit 1),NOW()),0) hours,
		 	dip3.province provinceName,dip3.city cityName,dip3.district areaName
		FROM (
				SELECT dip1.*
				FROM
	      			(SELECT dip.* FROM deliver_info_pop dip WHERE dip.deliver_state = 1) dip1
				JOIN deliver_info_pop dip2 ON dip1.pop_order_code = dip2.pop_order_code
				GROUP BY dip2.pop_order_code
				HAVING MAX(dip2.deliver_state) IN (1, 2)
			) dip3
		WHERE 1 = 1 ${condition}
    </select>
    
    <select id="getCommonInfoCount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select 
	    	${column}
	    from 
	    	${table}
	    where 
	    	${condition}
    </select>
</mapper>