<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mmb.dcheck.dao.mappers.DynamicCheckBeanMapper" >
  <resultMap id="BaseResultMap" type="mmb.dcheck.model.DynamicCheckBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="check_type" property="checkType" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_username" property="createUsername" jdbcType="VARCHAR" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="complete_user_id" property="completeUserId" jdbcType="INTEGER" />
    <result column="complete_username" property="completeUsername" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, area_id, check_type, code, create_time, create_user_id, create_username, complete_time, 
    complete_user_id, complete_username, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dynamic_check
    where id = #{id,jdbcType=INTEGER}
  </select>  
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dynamic_check
    where ${_parameter} LIMIT 1
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from dynamic_check
        where ${condition} 
		<if test="orderBy != null"> order by ${orderBy}</if>
		<if test="index > -1" > limit ${index}</if>
		<if test="count > 0 ">,${count}</if>
  </select>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select 
    COUNT(*)
    from dynamic_check
    where ${_parameter}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dynamic_check
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mmb.dcheck.model.DynamicCheckBean"  useGeneratedKeys="true" keyProperty="id" >
    insert into dynamic_check (id, area_id, check_type, 
      code, create_time, create_user_id, 
      create_username, complete_time, complete_user_id, 
      complete_username, status)
    values (#{id,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, #{checkType,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{createUsername,jdbcType=VARCHAR}, #{completeTime,jdbcType=TIMESTAMP}, #{completeUserId,jdbcType=INTEGER}, 
      #{completeUsername,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <select id="getDynamicCheckBeanList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		id, area_id, check_type, 
      code, create_time, create_user_id, 
      create_username, complete_time, complete_user_id, 
      complete_username, status
		FROM
		dynamic_check AS dyc

		WHERE ${condition}
		<if test="order != null"> order by ${order}</if>
		limit ${start}
		<if test="count > 0 ">, ${count}</if>
	</select>
  <update id="updateByCondition" parameterType="java.util.HashMap" >
  	update dynamic_check
  	SET ${set}
  	WHERE ${condition}
  </update>
   <select id="getDynamicCheckBeanCount" parameterType="java.lang.String" resultType="java.lang.Integer">
  	SELECT
	count(cia.id)
	FROM
	dynamic_check AS cia
	WHERE ${condition}
  </select>
  
</mapper>