<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mmb.ware.cargo.dao.mappers.CargoOperationMapper" >
  <resultMap id="BaseResultMap" type="mmb.ware.cargo.model.CargoOperation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="confirm_datetime" property="confirmDatetime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="auditing_datetime" property="auditingDatetime" jdbcType="TIMESTAMP" />
    <result column="auditing_user_id" property="auditingUserId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="storage_code" property="storageCode" jdbcType="VARCHAR" />
    <result column="stock_in_type" property="stockInType" jdbcType="INTEGER" />
    <result column="stock_out_type" property="stockOutType" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="auditing_user_name" property="auditingUserName" jdbcType="VARCHAR" />
    <result column="confirm_user_name" property="confirmUserName" jdbcType="VARCHAR" />
    <result column="complete_datetime" property="completeDatetime" jdbcType="TIMESTAMP" />
    <result column="complete_user_id" property="completeUserId" jdbcType="INTEGER" />
    <result column="complete_user_name" property="completeUserName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="print_count" property="printCount" jdbcType="INTEGER" />
    <result column="last_operate_datetime" property="lastOperateDatetime" jdbcType="TIMESTAMP" />
    <result column="effect_status" property="effectStatus" jdbcType="TINYINT" />
    <result column="stock_out_area" property="stockOutArea" jdbcType="SMALLINT" />
    <result column="stock_in_area" property="stockInArea" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status, create_datetime, remark, confirm_datetime, create_user_id, auditing_datetime, 
    auditing_user_id, code, source, storage_code, stock_in_type, stock_out_type, create_user_name, 
    auditing_user_name, confirm_user_name, complete_datetime, complete_user_id, complete_user_name, 
    type, print_count, last_operate_datetime, effect_status, stock_out_area, stock_in_area
  </sql>
  <insert id="insert" parameterType="mmb.ware.cargo.model.CargoOperation" useGeneratedKeys="true" keyProperty="id">
    insert into cargo_operation (id, status, create_datetime, 
      remark, confirm_datetime, create_user_id, 
      auditing_datetime, auditing_user_id, code, 
      source, storage_code, stock_in_type, 
      stock_out_type, create_user_name, auditing_user_name, 
      confirm_user_name, complete_datetime, complete_user_id, 
      complete_user_name, type, print_count, 
      last_operate_datetime, effect_status, stock_out_area, 
      stock_in_area)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{confirmDatetime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{auditingDatetime,jdbcType=TIMESTAMP}, #{auditingUserId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{storageCode,jdbcType=VARCHAR}, #{stockInType,jdbcType=INTEGER}, 
      #{stockOutType,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR}, #{auditingUserName,jdbcType=VARCHAR}, 
      #{confirmUserName,jdbcType=VARCHAR}, #{completeDatetime,jdbcType=TIMESTAMP}, #{completeUserId,jdbcType=INTEGER}, 
      #{completeUserName,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{printCount,jdbcType=INTEGER}, 
      #{lastOperateDatetime,jdbcType=TIMESTAMP}, #{effectStatus,jdbcType=TINYINT}, #{stockOutArea,jdbcType=SMALLINT}, 
      #{stockInArea,jdbcType=SMALLINT})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cargo_operation
    where id = #{id,jdbcType=INTEGER}
  </select>  
  <select id="selectByPrimaryKeySlave" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cargo_operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cargo_operation
    where ${_parameter} LIMIT 1
  </select>
  <select id="selectByConditionSlave" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cargo_operation
    where ${_parameter} LIMIT 1
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from cargo_operation
        where ${condition} 
		<if test="orderBy != null"> order by ${orderBy}</if>
		<if test="index > -1" > limit ${index}</if>
		<if test="count > 0 ">,${count}</if>
  </select>
  <select id="selectListSlave" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from cargo_operation
        where ${condition} 
		<if test="orderBy != null"> order by ${orderBy}</if>
		<if test="index > -1" > limit ${index}</if>
		<if test="count > 0 ">,${count}</if>
  </select>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select 
    COUNT(*)
    from cargo_operation
    where ${_parameter}
  </select>
  <select id="selectCountSlave" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select 
    COUNT(*)
    from cargo_operation
    where ${_parameter}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cargo_operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <update id="updateByCondition" parameterType="java.util.HashMap" >
  	update cargo_operation
  	SET ${set}
  	WHERE ${condition}
  </update>
</mapper>