<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mmb.rec.oper.dao.mappers.OrderStockProductCargoMapper" >
    <sql id="Base_Column_List" >
    id,
    order_stock_id as orderStockId,
    order_stock_product_id as orderStockProductId,
    count,
    cargo_product_stock_id as cargoProductStockId,
    cargo_whole_code as cargoWholeCode
  	</sql>
	<!-- 增-->
	<insert id="addOrderStockProduct" parameterType="adultadmin.bean.order.OrderStockProductCargoBean" useGeneratedKeys="true" keyProperty="id">
    insert into order_stock_product_cargo (
     id,
    order_stock_id,
    order_stock_product_id,
    count,
    cargo_product_stock_id,
    cargo_whole_code
      )
    values (
    	#{id,jdbcType=INTEGER},
    	#{orderStockId,jdbcType=INTEGER},
    	#{orderStockProductId,jdbcType=INTEGER},
    	#{count,jdbcType=INTEGER},
    	#{cargoProductStockId,jdbcType=INTEGER},
    	#{cargoWholeCode,jdbcType=VARCHAR}
      )
  </insert>
	<!-- 查-->
	<select id="getOrderStockProductCargo" parameterType="java.lang.String" resultType="adultadmin.bean.order.OrderStockProductCargoBean">
		select 
		<include refid="Base_Column_List" /> 
		from order_stock_product_cargo 
		where ${_parameter} 
		order by id desc 
		limit 1
	</select>
	<!-- 查List-->
	<select id="getOrderStockProductCargoList" parameterType="java.util.HashMap" resultType="adultadmin.bean.order.OrderStockProductCargoBean" >
		select 
		<include refid="Base_Column_List" />
		from order_stock_product_cargo
		where ${condition} 
		<if test="orderBy != null"> order by ${orderBy}</if>
		<if test="index != -1" > limit ${index}</if>
		<if test="count > 0 ">,${count}</if>
	</select>
	<!-- 查List-->
	<select id="getOrderStockProductCargoListSlave" parameterType="java.util.HashMap" resultType="adultadmin.bean.order.OrderStockProductCargoBean" >
		select 
		<include refid="Base_Column_List" />
		from order_stock_product_cargo
		where ${condition} 
		<if test="orderBy != null"> order by ${orderBy}</if>
		<if test="index != -1" > limit ${index}</if>
		<if test="count > 0 ">,${count}</if>
	</select>
</mapper>